<body>
    <div class="paginaDipendente">
        <img src="../../../assets/img/logo.png" alt="">
        <div class="header">
            <span>Bentornato {{trovaNome()}}</span>
        </div>
        <div class="box_dipendente" >
            <div class="turni_dipendente">
                <table>
                    <tr>
                        <td></td>
                        <td *ngFor="let turno of turni"> {{turno.oraInizio}} <br> {{turno.oraFine}}  </td>
                    </tr>
                    <tr *ngFor="let d of dateSettimana ; let i = index">
                        <td class="colonna"> {{ daysOfWeek[(date.getDay()+i)%7] }} </td >
                        <td [class.work]="thisTurno(d,1)" [class.not_work]="thisTurno(d,1)" > </td>
                        <td [class.work]="thisTurno(d,2)" [class.not_work]="thisTurno(d,2)"> </td>
                        <td [class.work]="thisTurno(d,3)" [class.not_work]="thisTurno(d,3)"> </td>
                    </tr>
                </table>
            </div>
            <div class="turni_dipendente ferie">
                <div id="count">
                    <span> n.° ferie annuali disponibili </span>
                    <span id="number"> {{dis}} </span>
                </div>
                <button routerLink="ferie" class=" button"> Richiedi Ferie </button>
            </div>
        </div>
        <div class="logout">
            <a (click)="requestlogout()" class="button"> <img class="icon" src="../../../assets/img/icon/send-file.png" alt=""> </a>
        </div>
    </div>
    <div [class.not_show]="!reqlogout" [class.show]="reqlogout">
        <p>Sei sicuro di voler uscire ?</p>
        <div class="container-button" >
            <a (click)="denied()" class="button no"> annulla </a>
            <a (click)="confirmLogout()" class="button si"> Esci  </a>
        </div>
    </div>
</body>
