<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>turni settimanali</title>
</head>
<body>

    <div class="container-direttore">
        <p>Piano ferie</p>
        <form [formGroup]="filtriForm" (submit)="filtriFerie()">
            <div class="header filtri">
                <label> Data: </label>
                <input type="date" id="date" class="calendario">
                <label> Ruolo: </label>
                <select name="ruolo" id="" class="select">
                    <option *ngFor="let ruolo of ruoli" [value]="ruolo.id">{{ ruolo.nome }}</option>
                </select>
                <input type="submit" class="button cerca" value="filtra">
            </div>
        </form>
        <div class="table">
            <table>
                <tr>
                    <td class="colonna"> {{ daysOfWeek[(date.getDay())%7] }} </td >
                    <td class="colonna"> {{ daysOfWeek[(date.getDay()+1)%7] }}  </td >
                    <td class="colonna"> {{ daysOfWeek[(date.getDay()+2)%7] }}   </td >
                    <td class="colonna"> {{ daysOfWeek[(date.getDay()+3)%7] }}   </td >
                    <td class="colonna"> {{ daysOfWeek[(date.getDay()+4)%7] }}   </td >
                    <td class="colonna"> {{ daysOfWeek[(date.getDay()+5)%7] }}   </td >
                    <td class="colonna ultimaColonna"> {{ daysOfWeek[(date.getDay()+6)%7] }}   </td>
                </tr>
                <tr>
                    <td class="colonna number ultimaRiga"> {{giorno}} </td>
                    <td class="colonna number ultimaRiga"> {{giorno+1}} </td>
                    <td class="colonna number  ultimaRiga"> {{giorno+2}} </td>
                    <td class="colonna number ultimaRiga"> {{giorno+3}} </td>
                    <td class="colonna number ultimaRiga"> {{giorno+4}} </td>
                    <td class="colonna number ultimaRiga"> {{giorno+5}} </td>
                    <td class="colonna number ultimaRiga ultimaColonna"> {{giorno+6}} </td>
                </tr>
                <tr>
                    <td class="colonna ultimaRiga dip"> 
                        <div *ngFor="let d of dipendenteXdata(date)">
                            <span>

                            </span>
                        </div>    
                    </td>
                    <td class="colonna ultimaRiga dip"> nessun dipendente in ferie </td>
                    <td class="colonna ultimaRiga dip"> nessun dipendente in ferie </td>
                    <td class="colonna ultimaRiga dip"> nessun dipendente in ferie </td>
                    <td class="colonna ultimaRiga dip"> nessun dipendente in ferie </td>
                    <td class="colonna ultimaRiga dip"> nessun dipendente in ferie </td>
                    <td class="colonna ultimaRiga dip ultimaColonna"> nessun dipendente in ferie </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>