<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>

        <form [formGroup]="createForm" (submit)="createRfd()">
            <div class="container-direttore" >

                <p>Crea ferie</p>
                <div class="header">
                    <span> Inserisci la data e i dipendeti</span>
                    <input type="submit" class="button" value="crea ferie">
                </div>

                <div class="box_operazioni_dipendente">
                    <div class="dati_turno">
                        <h2>Data</h2>
                        <label class="richieste" >Seleziona la data di inizio:</label>
                        <input class="richieste calendario" type="date" formControlName="dataInizio">
                        <label class="richieste" >Seleziona la data di fine:</label>
                        <input class="richieste calendario" type="date" formControlName="dataFine>
                    </div>
                    <div class="dati_turno">
                        <h2>Dipendenti</h2>
                        <label class="richieste"> Seleziona i dipendenti </label>
                        <div class="lista_dipendenti">
                          <div *ngFor="let dipendente of dipendenti;" >
                            <input type="checkbox" formArrayName="dipendenti" [value]="dipendente.id"
                                   (change)="onCheckboxChange($event)">
                            <label> {{dipendente.nome}} {{dipendente.cognome}}</label>
                            <input type="checkbox" value="{{dipendente.id}}" >
                            <br>
                          </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>

    </body>
</html>
