.login{
    height: 100vh;
    text-align: center;
    background-color: orange;
    
}
.login img{
    width: 200px;
}
.button{
    float: unset;
    text-decoration: none;
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
.login form{
    height: 40%;
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-color: white;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.4);
}
.login label{
    display: block;
    margin-top: 10%;
    margin-bottom: 10px;
}
.test{
    width: 150px;
    height: 20px;
}
.invalid{
    display: none;
}
.fail{
    animation: loginFail 0.2s 1;
}

@keyframes loginFail {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(10px); }
}