.login{
    height: 100vh;
    text-align: center;
    background-color: orange;
    
}
.login img{
    width: 200px;
}
.login form{
    height: 40%;
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-color: white;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.4);
}
.login label{
    display: block;
    margin-top: 10%;
    margin-bottom: 10px;
}
.login a{
    float: unset;
    text-decoration: none;
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
.test{
    width: 150px;
    height: 20px;
}