<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="container-direttore">
            <p>Lista dipendenti</p>


            <div class="header filtri">
                <form [formGroup]="searchForm" (ngSubmit)="cerca()">
                    <div class="ricerca">
                        <label> Cerca: </label>
                        <input type="text" formControlName="nome" class="searchArea">
                        <input type="submit" class="button cerca" value="cerca" [disabled]="bottonActiveSearch || !searchForm.valid" 
                        [class.invalid]="!searchForm.valid">
                    </div>
                </form>
                <form [formGroup]="filterForm" (ngSubmit)="filtri()">
                    <div class="ricerca">
                        <label> Ruolo: </label>
                        <select class="select" formControlName="ruolo"> 
                            <option *ngFor="let ruolo of ruoli" [value]="ruolo.id">{{ ruolo.nome }}</option>
                        </select>
                        <label> Contratto: </label>
                        <select class="select" formControlName="contratto">
                            <option value="Determinato">Determinato</option>
                            <option value="Indenterminato">Indenterminato</option>
                            <option value="Formazione">Formazione</option>
                        </select>
                        <input type="submit" class="button cerca" value="filtra" [disabled]="bottonActiveFilter || !filterForm.valid" 
                        [class.invalid]="bottonActiveFilter">
                    </div>
                </form>
            </div>
            <div class="header lista">
                <p *ngIf="dipendenti.length === 0"> Non ci sono dipendenti registrati nel sistema </p>
                <div *ngFor="let dipendente of dipendenti" class="list">
                    <button (click)="CambiaIteratore(dipendente)" id="dip">{{dipendente.nome}} {{dipendente.cognome}} </button>
                </div>
            </div>
            <div class="box_operazioni_dipendente" *ngIf="attivo || telefono != 0 ">
                <div class="dati_turno"  >
                    <h2>Dati Dipendente</h2>
                    <p >Ruolo: {{ruolo}} </p>
                    <p >Telefono: {{telefono}}</p>
                    <p >Email: {{email}} </p>
                    <button (click)="removeDipendente()" [disabled]="bottonActiveRemove" class="button remove" >
                     Elimina
                    </button>
                </div>
                <div class="dati_turno" *ngIf="telefono !== 0 && email !== '' ">
                    <h2>Contratto</h2>
                    <div class="lista_dipendenti" *ngIf="contratto !== null " >
                        <p>tipologia: {{contratto.tipologia}} </p>
                        <p>{{contratto.descrizione}}</p>
                    </div>
                </div>
            </div>

            
        </div>
        
    </body>
</html>