<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="container-direttore">
            <p>Modifica dipendenti</p>

            <div class="header filtri">
                <form [formGroup]="searchForm" (ngSubmit)="cerca()">
                    <div class="ricerca">
                        <label> Cerca: </label>
                        <input type="text" formControlName="nome" class="searchArea">
                        <input type="submit" class="button cerca" value="cerca" [disabled]="bottonActiveSearch || !searchForm.valid" 
                        [class.invalid]="!searchForm.valid">
                    </div>
                </form>
                <form [formGroup]="filterForm" (ngSubmit)="filtri()">
                    <div class="ricerca">
                        <label> Ruolo: </label>
                        <select class="select" formControlName="ruolo"> 
                            <option *ngFor="let ruolo of ruoli" [value]="ruolo.id">{{ ruolo.nome }}</option>
                        </select>
                        <label> Contratto: </label>
                        <select class="select" formControlName="contratto">
                            <option value="determinato">Determinato</option>
                            <option value="indenterminato">Indenterminato</option>
                            <option value="formazione">Formazione</option>
                        </select>
                        <input type="submit" class="button cerca" value="filtra" [disabled]="bottonActiveFilter || !filterForm.valid" 
                        [class.invalid]="bottonActiveFilter">
                    </div>
                </form>
            </div>
            <div class="header lista">
                <p *ngIf="dipendenti.length === 0"> Non ci sono dipendenti registrati nel sistema </p>
                <div *ngFor="let dipendente of dipendenti">
                    <button (click)="CambiaIteratore(dipendente)" id="dip">{{dipendente.nome}} {{dipendente.cognome}} </button>
                </div>
            </div>
            <div class="box_operazioni_dipendente">
                <form [formGroup]="modifyForm" (ngSubmit)="modifica()" >
                    <div class="dati_turno">
                        <label>nome:</label>
                        <input type="text" formControlName="nome" placeholder="{{nome}}">
                        <label>cognome:</label>
                        <input type="text" formControlName="cognome" placeholder="{{cognome}}">
                        <label>ruolo: </label>
                        <select class="select" formControlName="ruolo" >
                            <option *ngFor="let ruolo of ruoli" [value]="ruolo.id">{{ ruolo.nome }}</option>
                        </select>
                        <label>telefono:</label>
                        <input type="text" formControlName="telefono" placeholder="{{telefono}}" >
                        <label>email:</label>
                        <input type="text" formControlName="email"  placeholder="{{email}}">
                        <input type="submit" class="button modifica" value="Modifca" [disabled]="bottonActiveModify" [class.invalid]="!bottonActiveModify && ! modifyForm.valid">
                    </div>
                    <div class="dati_turno contratto">
                        <label for="" >tipologia</label>
                        <select name="" id="" class="select" formControlName="tipologia">
                            <option value="determinato">Determinato</option>
                            <option value="indenterminato">Indeterminato</option>
                            <option value="formazione">Formazione</option>
                        </select>
                        <label for=""> Descrizione contratto: </label>
                        <textarea class="descrizione_contratto" formControlName="descrizione">{{contratto.descrizione}}</textarea>
                    </div>
                </form>
            </div>
        </div> 
    </body>
</html>