.header{
    height: 10%;
    width: 80%;
    display: flex;
    overflow-y:auto;
    overflow-x: scroll;
    vertical-align: middle;
}
.select{
    width: 100px; height: 30px;
    margin:auto 20px auto 20px;
}
#search{
    height: 30%;
    margin: auto 20px auto 20px;
    border-radius: 20px;
    border: 2px solid black;
}
.lista{
    margin-top: 20px;
    align-items: center;
}
.cerca{
    width: 80px;
    margin-right: 15px;
}
.header hr{
    margin: 25px 0 25px 20px;
}
.dati_turno{
   width: 45%; 
}
.header span{
    font-size: 15px;
    margin-left: 20px;
}
.dati_turno label,input,select{
    display: flex;
    margin-left: 20px;
}
.button{
    float: left;
    margin-top: 0;
}
.box_operazioni_dipendente{
   height: 55%;
}
.contratto{
    width: 55%;
}
#dip{
    display: inline-block;
    background-color: white;
    border: none;
    font-size: 16px;
    color: black; font-weight: 600;
    margin-left: 40px;
}
.ricerca{
    display: flex;
    align-items: center;
    height: 100%;
}
.ricerca button,label,input {
    margin-right: 10px; 
}
.header p{
    font-size: 18px;
    margin: 20px;
}
.invalid{
    background-color: white;
    box-shadow: none;
}
.modifica{
    margin-top: 10px;
}
.searchArea{
    width: 100px;
    height: 20px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
}