<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container-direttore">
        <p>Creazione turno</p>
        
        <form [formGroup]="createForm" (submit)="createRtd()">
            <div class="header">
                <span> Inserisci i dati del turno </span>
                <input class="button" type="submit" value="Crea turno" >
            </div>
            <div class="box_operazioni_dipendente">
                <div class="dati_turno">
                    <h2>Data</h2>
                    <label class="richieste" >Seleziona la data:</label>
                    <input class="richieste calendario" type="date" formControlName="data">
                </div>
                <div class="dati_turno">
                    <h2>Orario</h2>
                    <label class="richieste"> Seleziona il turno </label>
                    <select class="richieste select" id="select" formControlName="turno">
                        <option *ngFor="let t of turni" value="{{t.id}}"> {{t.oraInizio}}-{{t.oraFine}}</option>
                    </select>
                </div>
                <div class="dati_turno">
                    <h2>Dipendenti</h2>
                    <label class="richieste"> Seleziona i dipendenti </label>
                    <div class="lista_dipendenti" >
                        <div *ngFor="let dipendente of dipendenti" >
                            <input type="checkbox" formArrayName="dipendenti" [value]="dipendente.id"
                            (change)="onCheckboxChange($event)">
                            <label for="html"> {{dipendente.nome}} {{dipendente.cognome}}</label>
                            <label for="html"> | S</label>
                            <input type="checkbox" value="{{dipendente.id}}" formArrayName="straordinario" (change)="onCheckboxChangeS($event)" >
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
</body>
</html>