<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <form >
            <div class="header">
                <a href="/dipendente"> &#8592; </a>
                <span>Richiedi Ferie</span>
                <input type="submit" class="button">
            </div>
            <div class="contElem">
                <div class="element uno">
                    <p> Seleziona la data d'inizio </p>
                    <input type="date" class="calendario">
                    <p> Seleziona la data di fine </p>
                    <input type="date" class="calendario">
                </div>
                <div class="element due">
                    <p> Disponibilità </p>
                    <span> Inserisci la data e controlla la Disponibilità </span>
                    <input type="button" class="button disp" value="Controlla Disponibilità">
                </div>
            </div>

        </form>
    </div>

</body>
</html>
