<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <form [formGroup]="formFerie" (ngSubmit)="prenotaFerie()">
            <div class="header">
                <a href="/dipendente"> &larr; </a>
                <span>Richiedi Ferie</span>
                <input type="submit" class="button">
            </div>
            <div class="contElem">
                <div class="element uno">
                    <p> Seleziona la data d'inizio </p>
                    <input type="date" class="calendario" formControlName="datainizio">
                    <p> Seleziona la data di fine </p>
                    <input type="date" class="calendario" formControlName="datafine">
                </div>
                <div class="element uno">
                    <p> Ferie prenotate </p>
                    <div class="ferieDisp" >
                        <a *ngFor="let gio of disRfd" (click)="richiestaDelete(gio)" > {{gio.giornataFeriale.dataGiornataFeriale }} </a>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div [class.not_show]="!elimina" [class.show]="elimina">
        <p> Sei sicuro di voler eliminare la gionataFerie ? </p>
        <div class="bottoni">
            <button class="button no" (click)="annulla()"> annulla </button>
            <button class="button si" (click)="deleteRfd()" > elimina </button>
        </div>
    </div>

</body>
</html>
