<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container-direttore" >
        <form [formGroup]="modifyForm" (submit)="deleteRtd()">
            <p>Modifica turno</p>
            <div class="header creazione">
                <span> Inserisci i dati del turno </span>

                <input class="button elimina" type="button" (click)="deleteRtd()" value="Elimina turno" >
            </div>

            <div class="creazione_turno">
                <div class="dati_turno">
                    <h2>Data</h2>
                    <label class="richieste" >Seleziona la data:</label>
                    <input class="richieste calendario" type="date" formControlName="data">
                    <h2>Orario</h2>
                    <label class="richieste"> Seleziona il turno </label>
                    <select class="richieste select" required id="select" formControlName="turno">
                        <option *ngFor="let t of turni" value="{{t.id}}" > {{t.oraInizio}}-{{t.oraFine}}</option>
                    </select>
                </div>
                <div class="dati_turno">
                    <h2 *ngIf="valid && modifyForm.valid" >Dipendenti</h2>
                    <span *ngIf="valid && modifyForm.valid"> Scegli i turni lavorativi da cancellare </span>
                    <div class="lista_dipendenti" *ngIf="valid && modifyForm.valid">
                        <div *ngFor="let t of rtdVecchi"  >
                            <input (change)="onCheckboxChange($event)" [value]="t.id" type="checkbox" formArrayName="rtdVecchio"> 
                            <span> {{t.turnoLavorativo.oraInizio}} /  {{t.turnoLavorativo.oraFine}} - {{t.dipendente.nome}} {{t.dipendente.cognome}} </span>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="dati_turno" *ngIf="modifyForm.valid">
                    <h2> </h2>
                    <p id="testoButton"> Clicca quì per vedere i turno lavorativi presenti per i paramtri passati </p>
                    <button (click)="dipendenteTurno()" type="button" class="button dip"> Dipendenti/turno</button>
                </div>
            </div>
        </form>
    </div>
    
</body>
</html>