<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container-direttore" >
        <form action="">
            <p>Modifica turno</p>
            <div class="header creazione">
                <span> Inserisci i dati del turno </span>
                <input class="button" type="submit" value="Modifica turno" >
                <input class="button elimina" type="submit" value="Elimina turno" >
            </div>

            <div class="creazione_turno">
                <div class="dati_turno">
                    <h2>Data</h2>
                    <label class="richieste" >Seleziona la data:</label>
                    <input class="richieste calendario" type="date" id="date" name="date">
                    <h2>Orario</h2>
                    <label class="richieste"> Seleziona il turno </label>
                    <select class="richieste select" required id="select">
                        <option value="turno1"> 8:30-10:30 </option>
                        <option value="turno1"> 10:30-16:30 </option>
                        <option value="turno1"> 16:30-22:30 </option>
                    </select>
                </div>
                <div class="dati_turno">
                    <h2>Dipendenti</h2>
                    <label class="richieste"> Seleziona i dipendenti </label>
                    <div class="lista_dipendenti">
                        <input type="checkbox" checked id="nomed" name="nom_dipendente" value="nome_dipendente">
                        <label for="html"> dipendente1</label><br>
                        <input type="checkbox" id="nomed" name="nom_dipendente" value="nome_dipendente">
                        <label for="css"> dipendente2</label><br>
                        <input type="checkbox" id="nomed" name="nom_dipendente" value="nome_dipendente">
                        <label for="javascript"> dipendente3</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
</body>
</html>