<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>turni settimanaul</title>
</head>
<body>

    <div class="container-direttore">
        <form [formGroup]="filtriForm" (submit)="filtriTurni()">
        <p>Turni settimanali</p>
            <div class="header filtri">
                <label> Data: </label>
                <input type="date" id="date" class="calendario" formControlName ="data">
                <label> Dipendente: </label>
                <select name="ruolo" id="" class="select" formControlName="id">
                    <option value="-1"> </option>
                    <option *ngFor="let d of dipendenti" [value]="d.id">{{d.nome}} {{d.cognome}} </option>
                </select>
                <input type="submit" class="button cerca" value="filtra">
            </div>
        </form>
       <div class="table">
            <div class="giorno">
                <button class="button cambio_giorno" (click)="giornoMeno()"> &larr; </button>
                <h2>{{mese}}</h2>
                <button class="button cambio_giorno" (click)="giornoPiu()" > &#8594; </button>
            </div>
            <div class="turni">
                <div class="table-row">
                    <span *ngFor="let t of turniLavorativi" class="orari"> {{t.oraInizio}} - {{t.oraFine}} </span>
                </div>
                <div class="table-row">
                    <div class="dipendenti">
                            <div *ngFor="let r of turniQuotidiani" class="ovf">
                            <ul *ngIf="r.turnoLavorativo.id == 1"  >
                                <span >
                                        {{r.dipendente.nome}} {{r.dipendente.cognome}}
                                        <span *ngIf="r.straordinario">S - </span>        
                                </span>
                                <br>
                            </ul>
                        </div>
                    </div>
                    <div class="dipendenti">
                        <div *ngFor="let r of turniQuotidiani" class="ovf" >
                            <ul *ngIf="r.turnoLavorativo.id == 2"  >
                                <span >
                                        {{r.dipendente.nome}} {{r.dipendente.cognome}}
                                        <span *ngIf="r.straordinario">S - </span>        
                                </span>
                                <br>
                            </ul>
                        </div>
                    </div>
                    <div class="dipendenti">
                        <div *ngFor="let r of turniQuotidiani" class="ovf" >
                            <ul *ngIf="r.turnoLavorativo.id == 3"  >
                                <span >
                                        {{r.dipendente.nome}} {{r.dipendente.cognome}}
                                        <span *ngIf="r.straordinario">S - </span>        
                                </span>
                                <br>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>