<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>turni settimanaul</title>
</head>
<body>

    <div class="container-direttore">
        <p>Turni settimanali</p>
        <div class="header filtri">
            <label> Data: </label>
            <input type="date" id="date" class="calendario">
            <label> Dipendente: </label>
            <select name="ruolo" id="" class="select">
                <option value=""> </option>
                <option value="">Dipendente1</option>
                <option value="">Dipendente2</option>
                <option value="">Dipendente3</option>
            </select>
            <input type="submit" class="button cerca" value="filtra">
        </div>
        <div class="table">
            <div class="giorno">
                <button class="button cambio_giorno" (click)="giornoMeno()"> &larr; </button>
                <h2>{{mese}}</h2>
                <button class="button cambio_giorno" (click)="giornoPiu()" > &#8594; </button>
            </div>
            <div class="turni">
                <table>
                    <tr>
                        <td> 10:30 - 14:30 </td>
                        <td> 14:30 - 18:30 </td>
                        <td> 18:30 - 22:30 </td>
                    </tr>
                    <tr>
                        <td class="dipendenti">
                            <ul>dipendent1</ul> 
                            <ul>dipendent2</ul> 
                            <ul>dipendent3</ul> 
                            <ul>dipendent4</ul> 
                            <ul>dipendent6</ul> 
                            <ul>dipendent7</ul> 
                            <ul>dipendent8</ul> 
                            <ul>dipendent9</ul> 
                            <ul>dipendent10</ul> 
                            <ul>dipendent11</ul> 
                        </td>
                        <td class="dipendenti">
                            <ul>dipendent1</ul> 
                            <ul>dipendent2</ul> 
                            <ul>dipendent3</ul> 
                            <ul>dipendent4</ul> 
                            <ul>dipendent6</ul> 
                            <ul>dipendent7</ul> 
                            <ul>dipendent8</ul> 
                            <ul>dipendent9</ul> 
                            <ul>dipendent10</ul> 
                            <ul>dipendent11</ul> 
                        </td>
                        <td class="dipendenti">
                            <ul>dipendent1</ul> 
                            <ul>dipendent2</ul> 
                            <ul>dipendent3</ul> 
                            <ul>dipendent4</ul> 
                            <ul>dipendent6</ul> 
                            <ul>dipendent7</ul> 
                            <ul>dipendent8</ul> 
                            <ul>dipendent9</ul> 
                            <ul>dipendent10</ul> 
                            <ul>dipendent11</ul> 
                        </td>
                    </tr>
                    

                </table>
            </div>
        </div>
    </div>
</body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>