<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>

        <form [formGroup]="modifyForm" (submit)="deleteRtd()">
            <div class="container-direttore">
                <p>Modifica ferie</p>
                <div class="header">
                    <span> Inserisci i nuovi dati</span>
                    <input type="submit" class="button remove" [disabled]="!modifyForm.valid"
                    [class.invalid]="!modifyForm.valid" value="Elimina ferie">
                </div> 
                <div class="box_operazioni_dipendente">
                    <div class="dati_turno">
                        <h2>Data</h2>
                        <label class="richieste" >Seleziona la data di inizio:</label>
                        <input class="richieste calendario" type="date" id="date" name="date" formControlName="dataInizio">
                        <label class="richieste" >Seleziona la data di fine:</label>
                        <input class="richieste calendario" type="date" id="date" name="date" formControlName="dataFine">
                    </div>
                    <div class="dati_turno">
                        <h2 *ngIf="valid && !modifyForm.valid" >Dipendenti</h2>
                        <span *ngIf="valid && !modifyForm.valid" > Scegli le ferie da cancellare </span>
                        <div class="lista_dipendenti ferie" *ngIf="valid && modifyForm.valid" >
                            <div *ngFor="let t of rfdVecchi" class="scroll" >
                                <input (change)="onCheckboxChange($event)" [value]="t.id" type="checkbox" formArrayName="rfdVecchi"> 
                                <span> {{t.dipendente.nome}} {{t.dipendente.cognome}} / {{t.giornataFeriale.dataGiornataFeriale}} </span>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="dati_turno prendiRfd"  *ngIf="modifyForm.valid" >
                        <p id="testoButton"> Clicca quì per vedere le ferie presenti per i paramtri passati </p>
                        <button (click)="dipendenteFerie()" type="button" class="button dip"> ferie </button>
                    </div>
                </div>

            </div>
        </form>

    </body>
</html>