<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <div class="ruoli">
            <a routerLink="/direttore/nuovodipendente">
                <img src="../../../assets/img/icon/Arrow 3.png" alt="">
            </a>
            <h2> Crea ruolo </h2>
            <form [formGroup]="createForm" (submit)="createRuolo()">
                <label> nome ruolo: </label>
                <input class="text" type="text" formControlName="nuovo">
                <input type="submit"  [disabled]="!buttonCreate && !createForm.valid"
                [class.invalid]="!buttonCreate && !createForm.valid" class="button crea" value="crea">
            </form>
            <br>
            <h2> Modifica ruolo </h2>
            <form [formGroup]="ruoliForm" (submit)="updateRuolo()" >
                <label> Scegli ruolo: </label>
                <select class="select" formControlName="ruoloVecchio" >
                    <option *ngFor="let ruolo of ruoli" [value]="ruolo.id">{{ ruolo.nome }}</option>
                </select>
                <br>
                <label class="margtop"> nuovo nome: </label>
                <input class="margtop text" type="text" formControlName="ruoloNuovo">
                <br>
                <input type="submit" 
                [disabled]="!buttonModify && !ruoliForm.valid"
                [class.invalid]="!buttonModify && !ruoliForm.valid"
                class="button" 
                value="modifica">
                <input (click)="deleteRuolo()" class="button remove" value="elimina">
            </form>
        </div>
    </body>
</html>
