.ruoli{
    background-color: orange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    border-radius: 20px;
    border: 2px solid black;
    padding: 10px;
}
.text{
    border-radius: 10px; border: 2px solid black;
    height: 30px;
}
.ruoli a{
    text-emphasis: none;
    color: black;
    display: block;
    font-size: 24px;
    font-weight: 800;
}
.margtop{
    margin-top: 20px;
}
.select{
    width: 100px;height: 30px;
}
.ruoli h2{
    margin-top: 20px;
}
.button{
    margin-top: 20px;
    width: 100px;
    margin-right: 10px;
    text-align: center;
}
.remove{
    background-color: red;
}
.ruoli img{
    width: 20px;
}
.crea{
    margin-top: 0;
    margin-left: 20px;
}
.invalid{
    background-color: white;
    box-shadow: none;
}
